:host {
  display: flex;
}

.main {
  width: 1180px;
  height: 100%;
  background: #fafafa;
  margin: 0 auto;
  padding: 0 30px;
}

.content {
  display: flex;
  overflow-y: auto;
}

.progress {
  min-height: 4px;
}