:host {
  display: flex;
  flex: 1;
  overflow-y: hidden;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  overflow-y: auto;
}

.progress {
  min-height: 4px;
}