<h2>Create an Album</h2>

<div class="form-container" [formGroup]="createForm">
  <div class="form-wrapper">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput placeholder="Enter the Album Title" autocomplete="off"
        (focus)="focusChange.next(true)" (blur)="focusChange.next(false)">
    </mat-form-field>
  </div>

  <div class="form-wrapper">
    <mat-form-field appearance="outline">
      <mat-label>Artist</mat-label>
      <input formControlName="artist" matInput placeholder="Enter the Album Artist" autocomplete="off"
        (focus)="focusChange.next(true)" (blur)="focusChange.next(false)">
    </mat-form-field>
  </div>

  <div class="form-wrapper" *ngIf="albumCover">
    <mat-form-field appearance="outline">
      <mat-label>Cover</mat-label>
      <input readonly matInput  autocomplete="off" [value]="albumCover.name">
    </mat-form-field>
  </div>

  <div class="form-wrapper drop-zone">
    <ngx-file-drop dropZoneLabel="Drop files here" *ngIf="!fileList || !fileList.length"
      [accept]="acceptedFileTypes" [disabled]="saving" (onFileDrop)="dropped($event)">
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <div class="drop-message">Drop a folder containing the album audio files and cover art</div>
        <button mat-stroked-button type="button" (click)="openFileSelector()" [disabled]="saving">Click to browse files</button>
      </ng-template>
    </ngx-file-drop>
    <div class="upload-table" *ngIf="fileList && fileList.length">
      <table mat-table [dataSource]="fileList">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Filename </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="size">
          <th mat-header-cell *matHeaderCellDef> Size </th>
          <td mat-cell *matCellDef="let element"> {{element.size | fileSize}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Upload Status </th>
          <td mat-cell *matCellDef="let element"> {{getUploadStatus(element.name)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

  <div class="form-wrapper actions">
    <button mat-button [disabled]="saving" (click)="reset()">Reset</button>
    <button mat-flat-button [disabled]="!createForm.valid || saving" (click)="create()">Create</button>
  </div>
</div>