:host {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  color: #333;
}

.form-container, .form-wrapper, .mat-form-field {
  width: 100%;
}

.form-wrapper {
  padding: 1em 0;
}

.actions {
  display: flex;
  justify-content: flex-end;

  button {
    background-color: #7a7a7a;
    color: #fff;
  }
}

.upload-table {
  margin: 1em 0;
  
  table {
    width: 100%;
  }
}