:host {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  color: #333;
}

.form-container, .form-wrapper, .mat-form-field {
  width: 100%;
}

.form-wrapper {
  padding: 1em 0;
}

.actions {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 1em;
  }

  button.mat-flat-button {
    background-color: #6a6a6a;
    color: #fff;
  }

  button:disabled {
    background-color: #bababa;
  }
}

.drop-message {
  padding-bottom: 1em;
}

.upload-table {
  margin: 1em 0;
  
  table {
    width: 100%;
  }
}