
<span class="track-tools">
  <span *ngIf="loggedIn$ | async" matTooltip="Edit Track Name" class="track-tool" (click)="trackEdit.emit()">
    <mat-icon>edit</mat-icon>
  </span>
  <a *ngIf="loggedIn$ | async" class="track-tool" matTooltip="Download" [href]="downloadLink" [download]="track.name">
    <mat-icon>cloud_download</mat-icon>
  </a>
  <span class="track-tool" matTooltip="Add to Queue" (click)="trackQueued.emit()">
    <mat-icon>playlist_add</mat-icon>
  </span>
</span>

<div class="track-name" [class.playing]="playing" (click)="trackSelected.emit()">
  <span>{{track.name}}</span>
</div>
