@import 'src/stylesheets/variables';

:host {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 0 8px;
  border-left: 3px solid transparent;
}

:host.playing {
  border-left: 3px solid $highlight-color;
}

.track-tools {
  display: flex;
  align-items: center;
}

.track-tool {
  padding: 4px 4px 0 4px;
}

a.track-tool {
  color: #333;
}

.track-container {
  display: flex;
  margin-right: auto;
  
  &:hover, &.playing {
    font-weight: 500;
  }

  .track-name {
    flex: 1;
    display: flex;
    align-self: stretch;
    align-items: center;
    max-width: calc(100vw - 140px);
    padding-left: 1em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

 .track-name:hover,
 .track-tool:hover {
  cursor: pointer;
 }

 @media (max-width: 768px) {
  .track-name span {
    max-width: calc(100vw - 160px);
  }
 }

 
 @media (max-width: 440px) {
  .track-name span {
    max-width: calc(100vw - 100px);
  }
 }