
<span class="track-tools">
  <a *ngIf="loggedIn" class="track-tool" matTooltip="Download" [href]="downloadLink" [download]="track.name">
    <mat-icon>cloud_download</mat-icon>
  </a>
  <span *ngIf="track.id" class="track-tool" matTooltip="Add to Queue" (click)="trackQueued.emit()">
    <mat-icon>playlist_add</mat-icon>
  </span>
</span>

<div class="track-container" [class.playing]="playing">
  <span class="track-name" (click)="trackSelected.emit()">{{track.name}}</span>
  <span *ngIf="loggedIn" class="track-tools">
    <span matTooltip="Edit Track Name" class="track-tool" (click)="trackEdit.emit()">
      <mat-icon>edit</mat-icon>
    </span>
    <button matTooltip="Delete Track" (click)="trackDeleted.emit()" mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </span>
</div>
