<div class="tracklist-header">
  <div class="album-title">
    <img [src]="coverArt" [alt]="selectedAlbum?.title">
    <div class="album-details">
      <h2>{{selectedAlbum?.title}}</h2>
      <span class="track-count">{{trackCount}} tracks</span>
    </div>
  </div>

  <div class="track-search" [formGroup]="filterForm">
    <mat-form-field>
      <mat-label>Tracks</mat-label>
      <input formControlName="trackFilter" matInput placeholder="Search Tracks">
    </mat-form-field>
  </div>
</div>

<mat-list role="list" *ngIf="tracksResponse">
  <mat-list-item role="listitem" *ngFor="let track of tracks | filter : query">
    <app-track
      [title]="track"
      [playing]="currentTrack === track && playerState.playing"
      [downloadLink]="getDownloadLink(track)"
      (trackSelected)="selectTrack($event)">
    </app-track>
  </mat-list-item>
</mat-list>
