:host {
  display: flex;
  flex-direction: column;
  padding: 1em 1em 1em 0;;
}

.tracklist-header {
  h2 {
    color: #333;
  }

  display: flex;
  flex-direction: column;
  color: #333;

  .album-title {
    display: flex;
    align-items: center;
    
    img {
      width: 120px;
      margin-right: 1em
    }
  
    .album-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      .track-count {
        color: #a9a9a9;
      }
    }
  }
  
  .track-search {
    display: flex;
    margin-top: 1em;
    padding-left: 1em;
    flex: 1;

    .spacer {
      flex: 1;
    }
  }
}

.mat-list-item:hover {
  color: #333;
  cursor: default;
}

::ng-deep .track-search .mat-form-field {
  flex: 1;

  .mat-input-element,
  .mat-form-field-label,
  .mat-form-field-required-marker,
  .mat-form-field-placeholder,
  .mat-focused .mat-form-field-placeholder
  {
      color: #333;
  }

  .mat-form-field-underline,
  .mat-form-field-ripple {
      background-color: slategray;
  }
}