<div class="tracklist-header">
    <div class="album-details">
      <h2>{{album && album[0]}}</h2>
      <span class="artist">{{album && album[1]}}</span>
      <span class="track-count">{{trackCount}} tracks</span>
    </div>
    <img [src]="coverArt" [alt]="selectedAlbum?.title">
</div>

<div class="tracklist-container">
  <mat-list role="list" *ngIf="tracksResponse">
    <mat-list-item role="listitem" *ngFor="let track of tracks">
      <app-track
        [title]="track.name"
        [playing]="currentTrack === track"
        [downloadLink]="getDownloadLink(track)"
        (trackSelected)="selectTrack($event)"
        (trackQueued)="queueTrack($event)">
      </app-track>
    </mat-list-item>
  </mat-list>
</div>
