<div *ngIf="playlistItems?.length" mat-dialog-title>
  <span class="playlist-title">Playlist</span>
  <button mat-button color="primary" (click)="clearPlaylist()">
    Clear
  </button>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content class="mat-typography">
  <mat-list *ngIf="playlistItems?.length; else playlistEmpty" role="list" cdkDropList (cdkDropListDropped)="drop($event)" class="playlist-list">
    <mat-list-item role="listitem" *ngFor="let playlistItem of playlistItems" cdkDrag [cdkDragData]="playlistItem" class="playlist-item">
      <app-playlist-item
        [loggedIn]="loggedIn$ | async"
        [playing]="currentTrack === playlistItem.title"
        [item]="playlistItem"
        (click)="playItem(playlistItem)">
      </app-playlist-item>
    </mat-list-item>
  </mat-list>
  <ng-template #playlistEmpty>
    <div class="empty">
      <span class="muted">Playlist empty.</span>
    </div>
  </ng-template>
</mat-dialog-content>
