<div class="playlist-header">
  <mat-form-field class="playlist-title">
    <mat-select [(value)]="selectedId" (selectionChange)="selectPlaylist($event)">
      <mat-option *ngFor="let item of playlists" [value]="item.id">{{item.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button *ngIf="hasTracks" mat-button color="primary" (click)="clearPlaylist()">
    Clear
  </button>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content class="mat-typography">
  <app-playlist-content *ngIf="playlist$ | async as selected"
    [playlistId]="selected.id"
    [playlistItems]="selected.tracks"
    [loggedIn]="loggedIn$ | async"
    (itemPlayed)="playItem($event)">
  </app-playlist-content>
</mat-dialog-content>
