<div class="main-header">
  <div class="header-wrapper">
    <h2 [routerLink]="['/']">
      <img src="https://1.gravatar.com/avatar/15f4066132eebc5db529115d11285fa5">
      <span>{{title}}</span>
    </h2>
    <ul class="nav">
      <li [class.selected]="currentRoute === '/albums' || currentRoute === '/'" [routerLink]="['/albums']">Albums</li>
      <!-- <li [routerLink]="['/library']">Sample Library</li> -->
      <li [class.selected]="currentRoute === '/admin'"  *ngIf="isLoggedIn$ | async" [routerLink]="['/admin']">Admin</li>
      <li class="login"><app-login></app-login></li>
    </ul>
  </div>
</div>
<div [class.player-open]="fileSelected" class="main-content"
  infiniteScroll
  [infiniteScrollDistance]="10"
  [infiniteScrollThrottle]="200"
  [scrollWindow]="false"
  (scrolled)="onScroll()">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<div [class.closed]="!fileSelected" class="main-player">
  <app-player-container></app-player-container>
</div>
