@import 'src/stylesheets/variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-header {
  display: flex;
  align-items: center;
  background: #333;
  padding: 2px;
  text-align: center;

  .header-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 1240px;
    margin: 0 auto;
  }

  h2 {
    display: flex;
    align-items: center;
    width: 200px;
    margin: 0 auto 0 6px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;

    img {
      border-radius: 50%;
      overflow: hidden;
      border: 2px solid #fafafa;
      box-shadow: 0 0 0 2px rgba(255,255,255,0.2);
      width: 26px;
      margin-right: 1em;
    }
  }

  ul.nav {
    list-style: none;
    color: #fafafa;
    margin: 8px 0;
    padding-left: 0;

    li {
      padding: 0 12px;
      display: inline-block;
      cursor: pointer;
    }

    li.selected {
      color: $highlight-color;
    }
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
  color: #333;
}

.content {
  flex: 1;
  max-width: 1180px;
  background: #fafafa;
  margin: 0 auto;
  padding: 0 30px;
}

.progress {
  min-height: 4px;
}

.main-player {
  margin-left: 0 1em;
  padding: 8px;
  max-height: 60px;
	transition-property: all;
	transition-duration: .6s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  border-top: 1px solid #cecece;
}

.main-player.closed {
  max-height: 0;
  padding: 0;
}

@media (max-width: 440px) {
  .content {
    padding: 0;
    width: 100%;
  }

  .main-header {
    .header-wrapper {
      padding: 6px 0;
    }
    
    h2 {
      width: 60px;

      img {
        width: 40px;
        margin-right: 0;
      }
    
      span {
        display: none;
      }
    }
  }
}