:host {
  display: flex;
  flex: 1;
}

:host.playing {
  background: rgba(0,0,0,.1);
  border-left: 3px solid #ff319a;
}

.track-tool {
  margin-right: 8px;
}

a.track-tool {
  color: #333;
}

.track-name {
  flex: 1;
  display: flex;
  
  &:hover, &.playing {
    font-weight: 500;
  }

  span {
    margin: 3px 0 0 6px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

 .track-name:hover,
 .track-tool:hover {
  cursor: pointer;
 }

 @media (max-width: 820px) {
  .track-name span {
    max-width: 640px;
  }
 }

 @media (max-width: 768px) {
  .track-name span {
    max-width: 520px;
  }
 }

 @media (max-width: 600px) {
  .track-name span {
    max-width: 480px;
  }
 }

 @media (max-width: 540px) {
  .track-name span {
    max-width: 390px;
  }
 }
 
 @media (max-width: 415px) {
  .track-name span {
    max-width: 240px;
  }
 }