<div *ngIf="playlistItems?.length" mat-dialog-title>
  <span class="playlist-title">Playlist</span>
  <button mat-stroked-button color="primary" (click)="clearPlaylist()">
    Clear
  </button>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content class="mat-typography">
  <mat-list *ngIf="playlistItems?.length; else playlistEmpty" role="list">
    <mat-list-item role="listitem" *ngFor="let item of playlistItems">
      <app-playlist-item (click)="playItem(item)" [playing]="currentTrack === item.track" [item]="item"></app-playlist-item>
    </mat-list-item>
  </mat-list>
  <ng-template #playlistEmpty>
    <div class="empty">
      <span class="muted">Playlist empty.</span>
    </div>
  </ng-template>
</mat-dialog-content>
