.search-header {
  display: flex;
  justify-content: flex-end;
  
  .form-wrapper {
    width: 300px;
    margin-right: 8px;
  }

  .mat-form-field {
    width: 100%;
  }
}

.album-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}