.search-header {
  display: flex;
  justify-content: center;
  padding: 8px 0;

  .form-wrapper {
    width: 400px;
  }

  .mat-form-field {
    width: 100%;
  }
}

.album-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 460px) {
  .album-list {
    justify-content: flex-start;
  }
}