<div class="search-header" [formGroup]="filterForm">
  <div class="form-wrapper">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input formControlName="albumFilter" matInput placeholder="Search Albums" autocomplete="off">
    </mat-form-field>
  </div>
</div>

<div class="album-list" *ngIf="albumsRequest">
    <app-album *ngFor="let album of albums | filter : query"
      (click)="albumSelected.emit(album)"
      [title]="album"
      [selected]="album === currentAlbum">
    </app-album>
</div>
