.search-header {
  display: flex;
  justify-content: flex-end;
  
  .form-wrapper{
    float: right;
    width: 200px;
  }

  .mat-form-field {
    width: 100%;
  }
}

.album-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -13px;
}