<div *ngIf="selected" class="player-container">
  <app-player-title
    [selected]="selected"
    (albumClicked)="loadAlbum($event)">
  </app-player-title>
  
  <app-player-controls 
    [currentFile]="selected"
    [volume]="volume"
    [playing]="trackPlaying"
    [loading]="trackLoading"
    [playerTime]="trackTime"
    [playerTimeFormatted]="trackTimeReadable"
    [duration]="trackDuration"
    [durationFormatted]="trackDurationReadable"
    [hasPlaylists]="hasPlaylists"
    (trackSeek)="trackSeek($event)">
  </app-player-controls>
</div>
