:host {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  padding: 6px;
}

:host.playing {
  background: rgba(0,0,0,.1);
  border-left: 3px solid #ff319a;
}

.playlist-item {
  flex: 1;
  display: flex;
  align-items: center;

  &:hover, &.playing {
    cursor: pointer;
  }

  .item-details {
    margin-right: auto;
    display: flex;
    align-items: center;

    .item-title {
      display: flex;
      flex-direction: column;

      .album-name {
        font-size: .9em;
        color: rgba(0,0,0,.6);
      }

      .track-name {
        max-width: 350px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .track-art {
      width: 32px;
      height: 32px;
      padding-right: 12px;
    }
  }

  .track-tool {
    margin-right: 1em;
  }
  
  a.track-tool {
    color: #333;
  }
}

