@import 'variables';

.content > * {
  display: block;
  width: calc(100vw - 68px);
  max-width: stretch;
  max-width: -webkit-fill-available;
  max-width: -moz-available;
}

.error-state {
  color: red;
}

.muted {
  color: $primary;
}

h2, h4 {
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #666;
}


@media (max-width: 440px) {
  .content > * {
    width: inherit;
  }
}