.form-wrapper.drop-zone {
  .ngx-file-drop__drop-zone {
    border-radius: 12px;
    border: 1px dotted #aaa;
    background: #fff;
    padding: 8px 0;
  }

  .ngx-file-drop__content {
    flex-direction: column;
    color: #7a7a7a;
  }
}
