<div class="main-page">
  <div class="site-header">
    <div class="header-wrapper">
      <h2 [routerLink]="['/albums']">
        <img src="https://1.gravatar.com/avatar/15f4066132eebc5db529115d11285fa5">
        <span>{{title}}</span>
      </h2>
    </div>
  </div>
  <div [class.player-open]="fileSelected" class="main-content">
    <app-main-content></app-main-content>
  </div>
  <div [class.closed]="!fileSelected" class="main-player">
    <app-player-container></app-player-container>
  </div>
</div>