:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.site-header {
  display: flex;
  align-items: center;
  background: #333;
  padding: 1em;
  text-align: center;

  .header-wrapper {
    width: 1240px;
    margin: 0 auto;
  }

  img {
    border-radius: 50%;
    overflow: hidden;
		border: 3px solid #fafafa;
    box-shadow: 0 0 0 3px rgba(255,255,255,0.2);
    width: 38px;
    margin-right: 1em;
  }

  h2 {
    display: flex;
    align-items: center;
    margin: 0;
    cursor: pointer;
  }
}

.main-content {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
  color: #333;
}

.main-player {
  margin-left: 0 1em;
  padding: 8px;
  max-height: 60px;
	transition-property: all;
	transition-duration: .6s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  border-top: 1px solid #cecece;
}

.main-player.closed {
  max-height: 0;
  padding: 0;
}