:host {
  flex: 1;
}

.player-time-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2px;
}

.player-duration {
  flex: 1;
  display: flex;
}

.player-time {
  color: rgb(109, 108, 108);
}

.player-time span {
  margin: 0 4px;
}

.mat-slider-horizontal {
  flex: 1;
}
