:host {
  display: block;
  padding-top: 1em;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  flex: 1;
}

.mat-dialog-actions {
  justify-content: flex-end;
  padding-top: 1em;
}

button.mat-flat-button {
  background-color: #6a6a6a;
  color: #fff;
}