@import 'stylesheets/base';
@import 'stylesheets/material';
@import 'stylesheets/modal';
@import 'stylesheets/file-drop';
@import 'stylesheets/admin';

html, body { height: 100%; }
body { 
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #efefef;
}
