:host {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 75%;
}

.player-transport {
  display: flex;
  align-items: center;
  margin-left: 1em;

  button {
    width: 28px;
  }

  .button-play {
    margin-right: 1em;
  }
}

.volume-wrapper {
  padding: 0 0 0 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .mat-slider-horizontal {
    min-width: 80px;
  }
}

@media (max-width: 820px) {
  .mat-slider {
    display: none;
  }
}
