:host {
  display: flex;
  flex-direction: column;
}

.tracklist-header {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  color: #aaa;
  background: rgb(64,56,63);
  background: linear-gradient(45deg, rgba(64,56,63,1) 0%, rgba(153,153,153,1) 100%, rgba(224,149,149,1) 100%);

  img, .img-loading, .cover-container {
    width: 180px;
    height: 180px;
  }

  img, .img-loading {
    border: 1px solid #555;
  }

  .img-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9a9a9a;
  }

  .cover-container {
    position: relative;
    
    &:hover .edit-artwork {
      display: block;
    }

    .edit-artwork {
      display: none;
      position: absolute;
      right: 4px;
      bottom: 4px;
      color: #fff;
      background: rgba(51, 51, 51, .6);
      border-radius: 6px;

      & > * {
        display: inline-block;
        border-right: 1px solid #d9d9d9;
      }

      & > *:last-child {
        border-right: none;
      }
    }
  }

  .album-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    word-break: break-all;
    margin-right: auto;
    padding-left: 1em;

    h2 {
      margin: 0 0 6px;
      padding-right: 6px;
    }

    .artist {
      margin-bottom: auto;
      font-size: 16px;
    }

    .track-info-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px 12px;
      background: #333;
      border-radius: 10px;
      text-align: center;

      &.logged-in {
        cursor: pointer;
      }

      &.logged-in:hover .add-track {
        display: flex;
        align-items: center;
      }

      &.logged-in:hover .track-count {
        display: none;
      }

      .track-info {
        text-transform: uppercase;
        color: #d9d9d9;
        font-size: 0.95em;
        font-weight: 500;
      }
      
      .add-track {
        display: none;
      }

      .track-count {
        display: flex;
      }
    }
  }
}

.mat-list-base {
  padding-top: 0;
}

.mat-list-item {
  border-bottom: 1px solid #d9d9d9;
}

.mat-list-item:hover {
  color: #333;
  cursor: default;
}

::ng-deep .track-search .mat-form-field {
  flex: 1;

  .mat-input-element,
  .mat-form-field-label,
  .mat-form-field-required-marker,
  .mat-form-field-placeholder,
  .mat-focused .mat-form-field-placeholder {
    color: #333;
  }
}

@media (max-width: 460px) {
  .tracklist-header h2 {
    font-size: 1em;
    line-height: 1.3rem;
  }

  .tracklist-header .album-details {
    padding-left: 0;
  }

  .tracklist-header .album-details .artist {
    font-size: 1em;
  }

  .track-count {
    font-size: 11px;
  }
}