<div class="tracklist-header">
    <div class="album-details">
      <h2>{{album}}</h2>
      <span class="artist">{{artist}}</span>
      <span class="track-count">{{trackCount}} tracks</span>
    </div>
    <img *ngIf="!loading" [src]="coverArt" [alt]="selectedAlbum?.title">
    <span *ngIf="loading" class="img-loading">
      <mat-spinner diameter="30"></mat-spinner>
    </span>
</div>

<div class="tracklist-container">
  <mat-list role="list" *ngIf="tracksResponse">
    <mat-list-item role="listitem" *ngFor="let track of tracks">
      <app-track
        [title]="track.name"
        [playing]="currentTrack === track.name"
        [downloadLink]="getDownloadLink(track)"
        (trackSelected)="selectTrack(track)"
        (trackQueued)="queueTrack(track)">
      </app-track>
    </mat-list-item>
  </mat-list>
</div>
