<div class="tracklist-header">
    <div class="album-details">
      <h2>{{album}}</h2>
      <span class="artist">{{artist}}</span>
      <div [class.can-upload]="loggedIn && !uploading" class="track-info-container">
        <span class="track-info track-count">{{trackCount}} tracks</span>
        <span *ngIf="loggedIn" class="track-info add-track" (click)="addTrackModal()"><mat-icon>add</mat-icon> Add Tracks</span>
      </div>
    </div>
    <span *ngIf="!loading; else imgLoading" class="cover-container">
      <span class="edit-artwork" *ngIf="loggedIn">
        <span>
          <button *ngIf="coverFile" mat-icon-button aria-label="Save artwork" (click)="saveAlbum()">
            <mat-icon>save</mat-icon>
          </button>
        </span>
        <span>
          <button mat-icon-button aria-label="Edit artwork" (click)="openEditModal()">
            <mat-icon>edit</mat-icon>
          </button>
        </span>
      </span>
      <img *ngIf="tempCoverArt; else coverArtwork" [src]="tempCoverArt" [alt]="selectedAlbum?.title">
      <ng-template #coverArtwork>
        <img [src]="coverArt" [alt]="selectedAlbum?.title">
      </ng-template>
    </span>
    <ng-template #imgLoading>
      <span *ngIf="loading" class="img-loading">
        <mat-spinner diameter="30"></mat-spinner>
      </span>
    </ng-template>
</div>

<div class="tracklist-container">
  <div class="upload-container" *ngIf="fileList && fileList.length">
    <button mat-flat-button [disabled]="uploading" color="primary" (click)="uploadTracks()">
      <mat-icon>upload</mat-icon> Upload {{fileList.length}} Pending
    </button>
    <app-upload-table [fileList]="fileList"></app-upload-table>
  </div>

  <mat-list role="list" *ngIf="tracksResponse">
    <mat-list-item role="listitem" *ngFor="let track of tracks">
      <app-track
        [loggedIn]="loggedIn"
        [track]="track"
        [playing]="currentTrack === track.name"
        [downloadLink]="getDownloadLink(track)"
        (trackEdit)="openTrackModal(track)"
        (trackDeleted)="deleteTrack(track)"
        (trackSelected)="selectTrack(track)"
        (trackQueued)="queueTrack(track)">
      </app-track>
    </mat-list-item>
  </mat-list>
</div>
